* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.logo {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 80%;
  height: auto;
}

.form {
  width: 40%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}

.form h1 {
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
}

.input-group input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 10px;
}

.btn {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: #007bff;
  color: #ffffff;
}

.btn:hover {
  cursor: pointer;
}

.form p {
  text-align: center;
}

.form a {
  color: #007bff;
}
